<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WMS.My.MySettings.WMSConnectionString1" connectionString="Data Source=(local)\sqlexpress;Initial Catalog=WMS;Persist Security Info=True;User ID=wms;Password=Sma14988"
            providerName="System.Data.SqlClient" />
        <add name="WMS.My.MySettings.WMS2015ConnectionString" connectionString="Data Source=CCGFATM\SQLEXPRESS;Initial Catalog=WMS2015;Persist Security Info=True;User ID=sa;Password=Tefu05811"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
